

</body>

<footer>
  <br>
  <h3 class="quote">Quote to inspire : </h3>
  <em style="font-family: 'Times New Roman', Times, serif;"><%= quote.text %> </em> <br>
  <em style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Author: <%= quote.author %> </em> <br><br>
  <i class="fas fa-copyright"></i> Copyright 2020 Absternator <i class="fas fa-heart"></i> 
</footer>

</html>
