<%- include("header") -%>
<div class="city">
    <form action="/weather" method="post">
      <h1>What do city you live in :</h1>
      <input type="text" name="city" placeholder=" Select city">
      <button type="submit"><i class="fas fa-search-plus"></i></button>
    </form>
  </div>
<%- include("footer") -%>